<%= form_for [:admin, @theater] do |f| %>

    <% if @theater.errors.any? %>
    <div id="error_explanation">
        <h2>
            <%= pluralize(@theater.errors.count, "erro") %> impediram este cinema de ser incluído:
        </h2>
        <ul>
            <% @theater.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
    <% end %>

    <p>
        <%= f.label :name %>
        <%= f.text_field :name %>
    </p>

    <p>
        <%= f.label :address %>
        <%= f.text_field :address %>
    </p>

    <p>
        <%= f.label :address_number %>
        <%= f.text_field :address_number %>
    </p>

    <p>
        <%= f.label :city %>
        <%= f.text_field :city %>
    </p>

    <p>
        <%= f.label :state %>
        <%= f.text_field :state %>
    </p>

    <p><%= f.submit %></p>
<% end %>