<h1>Exibindo Cinema: <%= @theater.name %></h1>

<p>
    <strong>Endereço:</strong>
    <%= @theater.address %>, <%= @theater.address_number %>
</p>

<p>
    <strong>Cidade:</strong>
    <%= @theater.city %>
</p>

<p>
    <strong>Estado:</strong>
    <%= @theater.state %>
</p>

<h2>Salas</h2>
<% @theater.rooms.each do |room| %>
    <p>
        <strong>Nome:</strong> <%= room.name %> (Capacidade: <%= room.seats_per_row * room.rows %> lugares) <%= link_to 'Ver Sessões' , admin_theater_room_sessions_path(@theater, room) %>
    </p>
<% end %>

<%= link_to 'Voltar', admin_theaters_path %> | <%= link_to 'Editar', edit_admin_theater_path(@theater) %> | <%= link_to 'Editar Salas', admin_theater_rooms_path(@theater) %>